body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.title {
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    color: hsl(0, 0%, 95%);
    font-size: 25px;
    height: 150px;
    justify-content: baseline;
}

h2 {
    background-color: #bd9c6c; 
    color: white; 
    position: relative; 
    height: 50px;
    width: 100%; 
    padding: 10px 0;
    margin: 0;
}

h5 {
    padding-bottom: 10px;
    margin-bottom: 6px;;
}
p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 8px;
    margin: 8px;
}

.block {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #bd9c6c;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}
  
.block-heading {
    margin-top: 0;
}
  
.block:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
.block:hover .read-more {
    opacity: 1;
}
  
.read-more {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container1 {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

b {
    color:white;
    text-align: center;
    text-decoration: none;
}

b:hover {
    color: blue;
}
