body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.resource {
    margin-bottom: 20px;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h3 {
    margin: 0;
}