body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.label {
    height: 26px;
    width: 140px;
}

.label .text-wrapper {
    color: #000000;
    font-family: "Courier-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 140px;
}


image .comscience-logo {
    height: 85px;
    left: 0;
    position: fixed;
    top: 0;
    width: 567px;
}

.image {
    height: 300px;
    width: 500px;
    }

.image .building {
    height: 300px;
    left: 0;
    position: relative;
    top: 0;
    width: 500px;
    padding: 0;
    }
    

.card {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-red {
    background-color: #ff6347;
}

b {
    color:#bd9c6c;
    text-align: center;
    text-decoration: none;
}

b:hover {
    color: blue;
}
